{% extends "base.html" %}

{% block lab %} Лабораторная работа 4 {% endblock %}

{% block main %}
    {% if authorized %}
        <h1>Добро пожаловать, {{ username }}!</h1>
        <div>
            <b>Ваш пол:</b> {{ gender_text }}
        </div>

        <div>
            <div>
                <a href="{{ url_for('lab4.users_list') }}">Список пользователей</a> | 
                <a href="{{ url_for('lab4.edit_user') }}">Редактировать профиль</a>
            </div>
            
            <form action="{{ url_for('lab4.logout') }}" method="post">
                <button>Выход</button>
            </form>
        </div>
    {% else %}

        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>

        <form method="post">
            <div>
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" value="{{ login or '' }}">
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password">
            </div>

            {% if error %}
                <div class="error" style="margin: 8px 0; color: red;">{{ error }}</div>
            {% endif %}

            <div>
                <button type="submit">Войти</button>
                <button type="reset">Отмена</button>
            </div>
        </form>
        
        <div>
            <a href="{{ url_for('lab4.register') }}">Зарегистрироваться</a>
        </div>
    {% endif %}
{% endblock %}