{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    {% if user and age %}

    <h1>Привет, {{ user }}!</h1>
    <h2>Добро пожаловать на сайт начинающего бэкенд-разработчика зумера!</h2>

    <div>Ваш возраст: {{ age }}</div>
    <div>Ваш пол: {{ 'Мужской' if sex == 'male' else 'Женский' }}</div>

    <div>
        <a href="/lab3/form1">Очистить</a>
    </div>

    {% else %}

    <h1>Пользователь</h1>

    <form>
        <label>Ваше имя:</label>
        <div>
            <input type="text" placeholder="Введите сюда своё имя" name="user" value="{{ user or '' }}">
            {% if errors.user %}
                <span class="error">{{ errors.user }}</span>
            {% endif %}
        </div>

        <label>Ваш возраст:</label>
        <div>
            <input type="number" name="age" value="{{ age or '' }}">
            {% if errors.age %}
                <span class="error">{{ errors.age }}</span>
            {% endif %}
        </div>

        <label>Ваш пол:</label>
        <div>
            <select name="sex">
                <option value="male" {{sex == 'male' and 'selected' }}>Мужчина</option>
                <option value="female" {{sex == 'female' and 'selected' }}>Женщина</option>
            </select>
        </div>

        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>

    {% endif %}
{% endblock %}
