{% extends "base.html" %}

{# номер лабораторной работы и название задания: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h2>Расчёт с параметрами</h2>

    <div style="margin-bottom: 20px;">
        <div>Параметр a: <b>{{ a }}</b></div>
        <div>Параметр b: <b>{{ b }}</b></div>
    </div>

    <div>
        <div>{{ a }} + {{ b }} = {{ add }}</div>
        <div>{{ a }} - {{ b }} = {{ sub }}</div>
        <div>{{ a }} × {{ b }} = {{ mul }}</div>
        <div>{{ a }} / {{ b }} = {{ div }}</div>
        <div>{{ a }}<sup>{{ b }}</sup> = {{ power }}</div>
    </div>
{% endblock %}