{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h2>Котики</h2>

    <div style="display:flex; flex-wrap:wrap; gap:20px;">
        {% for c in cats %}
            <div style="width:240px; padding:8px;">
                <div style="height:160px; display:flex; align-items:center; justify-content:center; overflow:hidden;">
                    <img src="{{ url_for('static', filename='cats/' ~ c.image) }}" 
                        style="max-width:100%; max-height:100%; display:block;">
                </div>
                <h3>{{ c.name }}</h3>
                <p>{{ c.desc }}</p>
            </div>
        {% endfor %}
    </div>

    <h2>Хомяки</h2>

    <div style="display:flex; flex-wrap:wrap; gap:20px;">
        {% for h in hamsters %}
            <div style="width:240px; padding:8px;">
                <div style="height:160px; display:flex; align-items:center; justify-content:center; overflow:hidden;">
                    <img src="{{ url_for('static', filename='hamsters/' ~ h.image) }}" 
                        style="max-width:100%; max-height:100%; display:block;">
                </div>
                <h3>{{ h.name }}</h3>
                <p>{{ h.desc }}</p>
            </div>
        {% endfor %}
    </div>

    <h2>Обезьянки</h2>

    <div style="display:flex; flex-wrap:wrap; gap:20px;">
        {% for m in monkeys %}
            <div style="width:240px; padding:8px;">
                <div style="height:160px; display:flex; align-items:center; justify-content:center; overflow:hidden;">
                    <img src="{{ url_for('static', filename='monkeys/' ~ m.image) }}" 
                        style="max-width:100%; max-height:100%; display:block;">
                </div>
                <h3>{{ m.name }}</h3>
                <p>{{ m.desc }}</p>
            </div>
        {% endfor %}
    </div>

    <h2>Собачки</h2>

    <div style="display:flex; flex-wrap:wrap; gap:20px;">
        {% for d in dogs %}
            <div style="width:240px; padding:8px;">
                <div style="height:160px; display:flex; align-items:center; justify-content:center; overflow:hidden;">
                    <img src="{{ url_for('static', filename='dogs/' ~ d.image) }}" 
                        style="max-width:100%; max-height:100%; display:block;">
                </div>
                <h3>{{ d.name }}</h3>
                <p>{{ d.desc }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}